* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  color: #283e46;
}


.logo {
  font-weight: 700;
  font-size: 42px;
  display: flex;
  align-items: center;
  color: #283e46;
}

.hid{
  display: none;
}
.main-nav{
  display: flex;
  gap: 55%;
  width: 100%;
padding: 24px;
background-color: #886ee8;
}

.main-nav-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}

.main-nav-link{
  font-size: 20px;
}

.header .sticky{
  position: fixed;
  background-color:hsl(0, 0%, 96%);
  }


a {
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.section-head {
  background-color: #fff;
  padding: 54px;
  color: #283e46;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
}

.main-img {
  width: 350px;
  height: 300px;
}
 

.main-heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #283e46;
  line-height: 1;
  letter-spacing: -0.1px;
}

.image {
    background-image: url(2-PhotoRoom\ \(1\).png);
    background-size: 75%;
    background-repeat: no-repeat;
    top: 23%;
    left: 42%;
    background-position: center;
    filter: brightness(100%);
    opacity: 75%;
    /* padding: 0.3rem; */
  }

.first-p {
  color: #747b7e;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 600;
}

.first-ps {
  color: #000;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 600;
}

.btn-first {
  font-size: 24px;
  font-weight: 600;
}

.btn-first:link,
.btn-first:visited {
  text-decoration: none;
  padding: 8px;
  border-radius: 12px;
  background-color: #886ee8;
  transition: all 0.1s;
}

.btn-first:hover {
  background-color: #d0dde2;
}

.buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #d0dde2; */
}

.btn-two {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  padding: 18px;
  border-radius: 12px;
  background-color: #45494b;
  color: #fafdfe;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
}

.btn-two:hover {
  background-color: #bfc5c8;
  color: #3e5159;
}

.btn-three {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  background-color: #45494b;
  border-radius: 12px;
  padding: 18px;
  color: #fafdfe;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
}

.btn-three:hover {
  background-color: #bfc5c8;
  color: #3e5159;
}
.main-headinga {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #283e46;
  line-height: 1;
  letter-spacing: -0.1px;
}

.img-1 {
  width: 75%;
  margin-bottom: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 96px;
  background-color: #886ee8;
  color: #000;
}
.one {
  color: #000;
}

.it {
  width: 800px;
  margin: 0 auto;
  padding: 48px;
  background-color: #886ee8;
  color: #000;
}

.heading {
  font-size: 24px;
  color: #2e3132;
  margin-bottom: 32px;
  align-items: center;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
  align-content: center;
}

.min {
  padding: 23px;
}
.img-3 {
  width: 55%;
  border-radius: 85%;
}

.img-4 {
  width: 40%;
  height: 40%;
  border-radius: 85%;
}

.min {
  width: 1000px;
  margin: 0 auto;
}

.one {
  font-size: 62px;
  font-weight: 700;
  color: #b9c4c9;
}

.olimg {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-headings {
  width: 1000px;
  margin: 0 auto;
  font-size: 58px;
  font-weight: 700;
}

footer {
  display: flex;
  width: 1200px;

  margin: 0 auto;
  justify-content: center;
  gap: 100px;
  padding: 48px;
}

.second-head {
  align-items: center;
  font-size: 18px;
}
tr {
  align-items: center;
  text-align: justify;
}
th,
tr {
  padding-bottom: 10px;
  padding-right: 30px;
}

.about {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.ik {
  font-size: 18px;
  color: #747b7e;
}

.lk {
  display: flex;
  gap: 24px;
  font-size: 48px;
}

.btnse {
  display: block;
  padding: 14px;
  background-color: #886ee8;
  border: none;
  font-size: 22px;
  cursor: pointer;
  display: none;
  
}
.header .sticky{
  position: fixed;
  background-color:#886ee8;
  }


.btn2 {
  display: none;
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 32px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-img {
    max-width: 100%;
    
  }

  .it {
    max-width: 400px;
    margin: 0 auto;
  }

  .first-p {
    font-size: 24px;
    letter-spacing: -0.3px;
  }

  .first-ps {
    font-size: 24px;
    letter-spacing: -0.3px;
  }

  .main-headings {
    max-width: 400px;
    font-size: 32px;
    letter-spacing: -0.3px;
    padding: 24px;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }


  .main-nav{
    display: flex;
    gap: 3px;
   
    height: 90px;
  padding: 24px;
  background-color: #886ee8;
  }
  
  .main-nav-list{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    padding: 78px;
    height: 350px;
    /* padding-right: 170px;
   padding-left: 170px; */
   position: absolute;
   top: 10%;
  right: 1%;
    
   
    background-color:#886ee8;
    
  }
  
  .main-nav-link{
    font-size: 20px;
    
  }

.flex:nth-child(2) {
    grid-row: 1;
  }

  .olimg:nth-child(2) {
    grid-row: 1;
  }
  .min {
    width: 400px;
    margin: 0 auto;
   
  }

  

  figure {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 96px;
    background-color: #886ee8;
  }
  .buttons {
    align-items: center;
    padding: 20px;
  }

  footer {
    display: flex;
    gap: 20px;
    max-width: 300px;
    padding: 24px;
  }

  
  .about {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .ik {
    font-size: 12px;
    color: #747b7e;
  }
  .second-head {
    max-width: 400px;
    align-items: center;
    font-size: 18px;
  }
  tr {
    align-items: center;
    text-align: justify;
  }

  th,
  tr {
    padding-bottom: 10px;
    padding-right: 30px;
  }
  .main-headinga {
    margin-right: 65%;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #283e46;
    line-height: 1;
    letter-spacing: -0.1px;
  }

  
  .btnse {
    display: block;
   padding: 1.6rem;
    background-color: #886ee8;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    position: absolute;
    top: -1%;
    left: 70%;
    display: visible;
  }

  .hidden {
    display: none;
  } 


  .btn2 {
    display: block;
    padding: 0.5rem;

    background-color: #886ee8;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;

    position: absolute;
    top: 5%;
    right: 7%;
  }
}
  
  
