* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  color: #283e46;
}


.logo {
  font-weight: 700;
  font-size: 42px;
  display: flex;
  align-items: center;
  color: #283e46;
}

.hid{
  display: none;
}
.main-nav{
  display: flex;
  gap: 55%;
  width: 100%;
padding: 24px;
background-color: #886ee8;
}

.main-nav-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}

.main-nav-link{
  font-size: 20px;
}

.header .sticky{
  position: fixed;
  background-color:hsl(0, 0%, 96%);
  }


a {
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.section-head {
  background-color: #fff;
  padding: 54px;
  color: #283e46;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
}

.main-img {
  width: 550px;
  height: 300px;
}

.slider{
  padding: 48px;
}


.headi{
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  padding: 34px;
  font-size: 48px;
}

.operations {
  max-width: 1000px;
  margin: 1.2px auto 0 auto;
  background-color: #886ee8;
  
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  
  margin-right: 25px;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 10px;
  font-weight: 600;
  
  display: inline-block;
}

.operations__tab--1 {
  background-color: #443774;
  color: #fff;
}

.operations__tab--1:hover {
  background-color: #dbd4f8;
  color: #000;
}

.operations__tab--2 {
  background-color: #443774;
  
  color: #fff;
}

.operations__tab--2:hover {
  background-color: #dbd4f8;
  color: #000;
}
.operations__tab--3 {
  background-color: #443774;
  margin: 0;
  color: #fff;
}

.operations__tab--3:hover {
  background-color: #dbd4f8;
  color: #000;
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 17px;
  padding: 25px 70px 65px 70px;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 30px;
  row-gap: 5px;
}

.btn{
  
  display: inline-block;
  font-size: 16px;
  padding: 9px;
  text-decoration: none;
  border: none;
  
  border-radius: 100px;
}

.operations__header {
  font-size: 25px;
  font-weight: 700;
  align-self: center;
}

.achi{
  font-size: 25px;
  font-weight: 500;
  font-weight: 700;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-style: bold;
  font-weight: 700;
  color: #0e0b17
  
}

.peas{
  color: #0e0b17;
  font-size: 24px;
}
.pea{
  color: #0e0b17;
    font-size: 20px;
    margin-bottom: 32px;
    font-weight: 600;
}



.operations__content p {
  grid-column: 2;
}

 .dr{
  width: 24px
 }

.main-heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #283e46;
  line-height: 1;
  letter-spacing: -0.1px;
}

.image {
    background-image: url(2-PhotoRoom\ \(1\).png);
    background-size: 75%;
    background-repeat: no-repeat;
    top: 23%;
    left: 42%;
    background-position: center;
    filter: brightness(100%);
    opacity: 75%;
    /* padding: 0.3rem; */
  }

.first-p {
  color: #747b7e;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 600;
}

.first-ps {
  color: #000;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 600;
}

.btn-first {
  font-size: 24px;
  font-weight: 600;
}

.btn-first:link,
.btn-first:visited {
  text-decoration: none;
  padding: 8px;
  border-radius: 12px;
  background-color: #886ee8;
  transition: all 0.1s;
}

.btn-first:hover {
  background-color: #d0dde2;
}

.buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #d0dde2; */
}

.btn-two {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  padding: 18px;
  border-radius: 12px;
  background-color: #45494b;
  color: #fafdfe;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
}

.btn-two:hover {
  background-color: #bfc5c8;
  color: #3e5159;
}

.btn-three {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  background-color: #45494b;
  border-radius: 12px;
  padding: 18px;
  color: #fafdfe;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.12);
}

.btn-three:hover {
  background-color: #bfc5c8;
  color: #3e5159;
}
.main-headinga {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #283e46;
  line-height: 1;
  letter-spacing: -0.1px;
}

.img-1 {
  width: 75%;
  margin-bottom: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 96px;
  background-color: #fafdfe;
  color: #000;
}
.one {
  color: #000;
}

.it {
  width: 800px;
  margin: 0 auto;
  padding: 48px;
  background-color: #886ee8;
  color: #000;
}

.heading {
  font-size: 24px;
  color: #2e3132;
  margin-bottom: 32px;
  align-items: center;
}



.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  align-content: center;
 
  padding-top: 72px;

}

.min {
  padding: 23px;
}
.img-3 {
  width: 45%;
  height: 25%;
  border-radius: 150px;
  margin-top: 20px;
 
}

.img-4 {
  width: 40%;
  height: 40%;
  border-radius: 85%;
  
}

/* .olimg{
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
border-radius: 200px;


} */

.min {
  width: 1000px;
  margin: 0 auto;
}

.one {
  font-size: 62px;
  font-weight: 700;
  color: #b9c4c9;
}

.olimg {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-headings {
  width: 1000px;
  margin: 0 auto;
  font-size: 58px;
  font-weight: 700;
}

footer {
  display: flex;
  width: 1200px;

  margin: 0 auto;
  justify-content: center;
  gap: 100px;
  padding: 48px;
}

.second-head {
  align-items: center;
  
}

.na{
  font-weight: 700;
  font-size: 21px;
}
tr {
  align-items: center;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
}
th,
tr {
  padding-bottom: 10px;
  padding-right: 30px;
  margin: 0 auto;
}

.about {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.ik {
  font-size: 18px;
  color: #747b7e;
}

.lk {
  display: flex;
  gap: 24px;
  font-size: 48px;
}

.btnse {
  display: block;
  padding: 14px;
  background-color: #886ee8;
  border: none;
  font-size: 22px;
  cursor: pointer;
  display: none;
  
}
.header .sticky{
  position: fixed;
  background-color:#886ee8;
  }


.btn2 {
  display: none;
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 32px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-img {
    max-width: 100%;
    
  }

  .it {
    max-width: 350px;
    margin: 0 auto;
  }

  
  .operations{
    max-width: 400px;
    margin: 0 auto;
    height: 450px;
  }

  .first-p {
    font-size: 24px;
    letter-spacing: -0.3px;
  }

  .first-ps {
    font-size: 20px;
    letter-spacing: -0.3px;
    text-align: justify;
  }

  .main-headings {
    max-width: 400px;
    font-size: 32px;
    letter-spacing: -0.3px;
    padding: 24px;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }


  .main-nav{
    display: flex;
    gap: 3px;
   
    height: 90px;
  padding: 24px;
  background-color: #886ee8;
  }
  
  .main-nav-list{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    padding: 78px;
    height: 350px;
    /* padding-right: 170px;
   padding-left: 170px; */
   position: absolute;
   top: 10%;
  right: 1%;
    
   
    background-color:#886ee8;
    
  }
  
  .main-nav-link{
    font-size: 20px;
    
  }

.flex:nth-child(2) {
    grid-row: 1;
  }

  .olimg:nth-child(2) {
    grid-row: 1;
  }
  .min {
    width: 400px;
    margin: 0 auto;
   
  }

  

  figure {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 96px;
    background-color: white;
  }
  .buttons {
    align-items: center;
    padding: 20px;
  }

  footer {
    display: flex;
    gap: 20px;
    max-width: 300px;
    padding: 24px;
  }

  
  .about {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .ik {
    font-size: 12px;
    color: #747b7e;
  }
  .second-head {
    max-width: 250px;
    align-items: center;
   font-size: 7px;
  }
  tr {
    align-items: center;
    text-align: justify;
  }
.na{
  font-size: 19px;
}
  th,
  tr {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    padding: 0 auto;
  }
  .main-headinga {
    margin-right: 65%;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #283e46;
    line-height: 1;
    letter-spacing: -0.1px;
  }
.tha{
  font-size: 15px;
}
  
  .btnse {
    display: block;
   padding: 3px;
    background-color: #886ee8;
    border: none;
    font-size: 46px;
    cursor: pointer;
    position: absolute;
    margin-top: 21px;
    top: -1%;
    left: 75%;
    display: visible;
  }

  .hidden {
    display: none;
  } 


  .btn2 {
    display: block;
    padding: 0.5rem;

    background-color: #886ee8;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;

    position: absolute;
    top: 5%;
    right: 3%;
  }
}
  
  
